body{
    font-family: sans-serif;
    background: #ccc;
}

.app-wrapper{
    width: 320px;
    padding: 5px;
    margin: 0 auto;
    background: #fff;
}

h1{
    text-align: center;
}

h4{
    margin: 0;
    display: inline;
}
span{
    padding-left: 5px;
    padding-right: 5px;
}

button{
    margin: 15px auto 15px auto;
    padding: 10px;
    display: block;
}

label{
    display: block;
    margin-bottom: 5px;
}

input{
    margin-bottom: 15px;
}